<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
  content %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Notes App</title>
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />
    <style>
      .hidden {
        display: none;
      }
      body {
        display: flex;
        min-height: 100vh;
      }
      .sidebar {
        width: 200px;
        background-color: rgb(114, 112, 103);
        padding: 20px;
        color: white;
      }
      .content {
        flex: 1;
        padding: 20px;
      }
      .sidebar a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      .sidebar a:hover {
        background-color: gray;
      }
    </style>
  </head>
  <body>

    <div class="container mx-auto py-4">
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">My Notes</h1>
        <div class="flex space-x-4"></div>
      </div>
      <form method="POST" action="{{url_for('create_note')}}">
        {{ current_form.hidden_tag() }} {% if current_form.edit_note_id %}
        <input
          type="hidden"
          name="edit_note_id"
          value="{{ current_form.edit_note_id }}"
        />
        {% endif %}

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="title"
            >Title</label
          >
          {{ current_form.title(class="shadow appearance-none border rounded
          w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
          focus:shadow-outline") }}
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="text"
            >Text</label
          >
          <div id="editor" style="height: 300px"></div>
          <input type="hidden" name="text" id="hiddenText" />
        </div>

        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Add Note
        </button>
      </form>
      <div class="mt-2"></div>

      <a
        href="#"
        id="showTimestamps"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >Show Timestamps</a
      >
      <!-- Show Timestamps button -->
      {% for note in user_notes %}
      <div class="border rounded p-4 mb-4 flex justify-between items-center">
        <div>
          <h2 class="text-lg font-bold">{{ note.title }}</h2>
          <div id="editor_{{ note.id }}" class="text-content"></div>
          <!-- Quill editor for displaying notes -->
          <p class="text-sm text-gray-700 timestamp hidden">
            {{ note.date.strftime('%Y-%m-%d %H:%M:%S %Z') }}
          </p>
          <!-- Hidden timestamp by default -->
        </div>
        <div class="flex space-x-2">
          <a
            href="{{ url_for('edit_note', note_id=note.id) }}"
            class="bg-gray-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline"
            >Edit</a
          >
          <form
            method="POST"
            action="{{ url_for('delete_note', note_id=note.id) }}"
            class="inline"
          >
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline"
              type="submit"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      document
        .getElementById("showTimestamps")
        .addEventListener("click", function (event) {
          event.preventDefault(); // Prevent default link behavior

          var timestamps = document.querySelectorAll(".timestamp");
          timestamps.forEach(function (timestamp) {
            timestamp.classList.toggle("hidden"); // Toggle the 'hidden' class to show/hide timestamps
          });

          var buttonText = this.innerText;
          this.innerText =
            buttonText === "Show Timestamps"
              ? "Hide Timestamps"
              : "Show Timestamps"; // Change button text
        });

      var quill = new Quill("#editor", {
        theme: "snow",
      });

      var hiddenText = document.querySelector('input[name="text"]');
      quill.on("text-change", function () {
        hiddenText.value = quill.root.innerHTML;
      });
    </script>
  </body>
</html>
{% endblock %}