{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
content %}
<div class="content">
  <center>
    <div>
      <h1 class="title">Welcome, {{ username }}!</h1>
    </div>
  </center>
  <center>
    <h1>
      <h3>Email:</h3>
      {{ email }}
    </h1>
  </center>
  <center>
    <div class="ribb">
      <form method="POST" action="{{ url_for('edit_profile') }}">
        <button
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline"
          type="submit"
        >
          Edit Profile
        </button>
      </form>
      <form method="POST" action="{{ url_for('delete_account') }}">
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline"
          type="submit"
        >
          Delete Account
        </button>
      </form>
    </div>
  </center>
</div>
{% endblock %}
