.jotbot-text {
  font-family: "Kadwa", sans-serif;
  font-size: 100px;
  color: rgb(216, 214, 195);
  margin-bottom: 20px;
}
.dark-mode {
  background-color: black;
  color: white;
}

#dark-mode-toggle {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
